{% extends 'mainheader.html' %}
{% block title %}Assigment 2{% endblock title %}
{% block body %}
<div class="all" style="background-image: url(/static/img/pexels-alexander-kovalev-2847648.jpg); height: 100%; background-position: center;
background-repeat: no-repeat;
background-size: cover;">
    <div class="experience-component experience-layouts-2h" >
        <div class="container twelayout-basic py-0 null layout-2h align-vertical-null " > 
            <div class="row " >
                <div class=" region col-12 col-md-6 mx-auto  p-0" style="background-color: #8EC5FC;
                background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
                border-width: 10px;
                ">
                    <div class="experience-component experience-assets-image" >
                        <figure class="snippet snippet-image text-center mb-0 mx-auto" >
                            <a
                                href="https://www.penfolds.com/en-sg/about-penfolds/collaborations/blockbar-third-nft.html">
                                
                                 <picture>
                                    <img src="/static/img/question.jpg" width="1137" height="386" class="d-block w-100" alt="...">
                                    <!-- <source
                                        srcset=""
                                        media="(max-width: 768px)">
                                    <img class="img-fluid img-main page-designer-hover pd-image-hover-zoom"
                                    src="/static/img/question.jpg"
                                       
                                        style="--focal-point-x:50%; --focal-point-y:50%"
                                        alt="Two 6L wine bottles against charcoal and red background"
                                        title="Two 6L wine bottles against charcoal and red background"> -->
                                </picture>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class=" region col-12 col-md-6 mx-auto  p-0">
                    <div class="egrouxperience-component experience-assets-complextile">
                        <div class="snippet snippet-complextile align-vertical-Middle align-horizontal-Left text-dark null  ">
                            <div class="banner-content  ">
                                <div class="banner-text    ">
                                    <div class="page-designer-hover text-left align-on-zoomout-Left border-line-none">
                                        <div class="col-12">
                                            <h4>.</h4>
                                            <h2 style="color: white; font-size: 50px; ">ASSIGMENT 2</h2>
                                            <p style="color: white; font-size: x-large;">This is Assigment 2 of unit 2 contain question of list ,tuple and Dictionaries.</p>
                                        
                                            <p>
                                                
                                                <div class="btn-group">
                                                    <a href='https://drive.google.com/file/d/1xtusJyDc730zTe2JQ5aoOPCYPEBxa4YR/view?usp=drivesdk'>
                                                    <button type="button" class="btn btn-px-5 btn-outline-light btn-lg">DOWNLOAD</button>
                                                    
                                                  </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="experience-component experience-layouts-2h">
        <div class="container twelayout-basic pt-0 null layout-2h align-vertical-null">
            <div class="row ">
                <div class=" region col-12 col-md-6 mx-auto  p-0">
                    <div class="experience-component experience-assets-complextile">
                        <div class="snippet snippet-complextile align-vertical-Middle align-horizontal-Left
                        text-dark null  ">
                        <div class="banner-content  ">
                            <div class="banner-text    ">
                                    <div class="page-designer-hover text-left align-on-zoomout-Left border-line-none">
                                        <div class="col-12">
                                            <h4></h4>
                                            <br>
                                            <h2 style="color: white; font-size: 60px;">SOLUTIONS</h2>
                                            <p style="color: white; font-size: x-large;">Here, you can find the answer of Assigment 1</p>
                                            <p>
                                                <a href="https://drive.google.com/file/d/1xwDMKAb6TD_mlFas1uEU799QLO_RXjO5/view?usp=drivesdk"
                                                    class="btn btn-tertiary ">
                                                    <button type="button" class="btn btn-px-5 btn-outline-light btn-lg">DOWNLOAD</button>
                                                    
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" region col-12 col-md-6 mx-auto  p-0" >
                    <div class="experience-component experience-assets-image">
                        <figure class="snippet snippet-image text-center mb-0 mx-auto">
                            <a href="#">
                                <picture>
                                    <img src="/static/img/solution1.jpg" width="1137" height="386" class="d-block w-100" alt="...">
                                    <!-- <source
                                        srcset="https://www.penfolds.com/dw/image/v2/BDBN_PRD/on/demandware.static/-/Library-Sites-PenfoldsSharedLibrary/default/dwa667e6c1/1-Images/Landscape/840x650/840x650-Peter-Gago-Hall-of-Fame.jpg?sw=768&amp;sfrm=png"
                                        media="(max-width: 768px)">
                                    <img class="img-fluid img-main page-designer-hover pd-image-hover-zoom"
                                        src="https://www.penfolds.com/dw/image/v2/BDBN_PRD/on/demandware.static/-/Library-Sites-PenfoldsSharedLibrary/default/dwa667e6c1/1-Images/Landscape/840x650/840x650-Peter-Gago-Hall-of-Fame.png"
                                        style="--focal-point-x:50%; --focal-point-y:50%" alt="Peter Gago Hall of Fame"
                                        title="Peter Gago Hall of Fame"> -->
                                </picture>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}