<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Course</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link href="#" rel="stylesheet">


    <link href="#" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <!-- partial:index.partial.html -->

    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>STUDY BUDDY</h1>
                <p>An App that provides you answers of all your query enhance your skill and helps to get better in Academic performance</p>
                <span>
                    <p>login with Mail</p>
                    <!-- <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
                    <a href="#"><i class="fa fa-gmail" aria-hidden="true"></i> Login with Gmail</a>
                </span>
            </div>
        </div>


        <div class="right">
            <h5>Login</h5>
            <!-- <p>--------------------------------------------------S</p> -->
            <h6>Want to get updated ? <a href="#">Login with your sharda MAil</a> it takes less than a minute</h6>
            <div class="dropdown">
                <button class="dropbtn">COURSE</button>
                <div class="dropdown-content">
                    <a href="/b.tech">B.Tech </a>
                    <a href="/b.tech">B.BA</a>
                    <a href="/b.tech">MBA </a>
                </div>
            
                <br>
                <!-- <button class="dropbtn">dropdown</button>
                <div class="dropdown-content">
                    <a href="#">link1 </a>
                    <a href="#">link2 </a>
                    <a href="#">link3 </a>
                </div> -->



                <!-- <input type="text" placeholder="Course"> -->
                <!-- <br> -->
                <!-- /  <input type="number" placeholder="Semester"> -->
            </div>

            <br><br>

            <div class="remember-me--forget-password">
                <!-- Angular -->
                <label>
                    <input type="checkbox" name="item" checked />
                    <span class="text-checkbox">Remember me</span>
                </label>
                <!-- <p>forget password?</p> -->
            </div>

            <br>
            <button>Login</button>
        </div>

    </div>

    <!-- partial -->

</body>

</html>