{% extends 'mainheader.html' %}
{% block title %}Assigment 1{% endblock title %}
{% block body %}
<!-- <div class="all" style="background-image: url(/static/img/bg1.jpg); height: 100%; background-position: center;
background-repeat: no-repeat;
background-size: cover;"> -->
<div class="all" style="background-image: linear-gradient(to right, #8360c3, #2ebf91); height: 100%; background-position: center;
background-repeat: no-repeat;
background-size: cover;">
    <div class="experience-component experience-layouts-2h" >
        <div class="container twelayout-basic py-0 null layout-2h align-vertical-null " > 
            <div class="row " >
                <div class=" region col-12 col-md-6 mx-auto  p-0" style="background-color: #8EC5FC;
                background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
                border-width: 10px;
                ">
                    <div class="experience-component experience-assets-image" >
                        <figure class="snippet snippet-image text-center mb-0 mx-auto" >
                            <a
                                href="#">
                                
                                 <picture>
                                    <img src="/static/img/ppt/basic.png" width="1137" height="386" class="d-block w-100" alt="...">
                                    <!-- <source
                                        srcset=""
                                        media="(max-width: 768px)">
                                    <img class="img-fluid img-main page-designer-hover pd-image-hover-zoom"
                                    src="/static/img/question.jpg"
                                       
                                        style="--focal-point-x:50%; --focal-point-y:50%"
                                        alt="Two 6L wine bottles against charcoal and red background"
                                        title="Two 6L wine bottles against charcoal and red background"> -->
                                </picture>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class=" region col-12 col-md-6 mx-auto  p-0">
                    <div class="egrouxperience-component experience-assets-complextile">
                        <div class="snippet snippet-complextile align-vertical-Middle align-horizontal-Left text-dark null  ">
                            <div class="banner-content  ">
                                <div class="banner-text    ">
                                    <div class="page-designer-hover text-left align-on-zoomout-Left border-line-none">
                                        <div class="col-12">
                                            <h4>.</h4>
                                            <h2 style="color: white; font-size: 50px; ">UNIT 1</h2>
                                            <p style="color: white; font-size: x-large;">In this ppt you find the basic of python and know about
                                                the variable, datatype and Operator. Moreover, you are also going to learn what is Conditional Statements,Looping and Control Statement.
                                            <p>
                                                
                                                <div class="btn-group">
                                                    <a href='https://docs.google.com/presentation/d/1yDaxcnJIbt-NwoywbWjNoajD8a9uArzb/edit?usp=drivesdk&ouid=116953157033865343860&rtpof=true&sd=true'>
                                                    <button type="button" class="btn btn-px-5 btn-outline-light btn-lg">DOWNLOAD</button>
                                                    
                                                  </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 2rd  -->
    <div class="experience-component experience-layouts-2h">
        <div class="container twelayout-basic pt-0 null layout-2h align-vertical-null">
            <div class="row ">
                <div class=" region col-12 col-md-6 mx-auto  p-0">
                    <div class="experience-component experience-assets-complextile">
                        <div class="snippet snippet-complextile align-vertical-Middle align-horizontal-Left
                        text-dark null  ">
                        <div class="banner-content  ">
                            <div class="banner-text    ">
                                    <div class="page-designer-hover text-left align-on-zoomout-Left border-line-none">
                                        <div class="col-12">
                                            <h4></h4>
                                            <br>
                                            <h2 style="color: white; font-size: 60px;">UNIT-2</h2>
                                            <p style="color: white; font-size: x-large;">In this unit you are going to learn about the basic of data
                                                of data sturctures. Data sturctures like list , Tuple and Dictionaries.
                                            </p>
                                            <p>
                                                <a href="https://docs.google.com/presentation/d/1yFwiFoyHCm0pEjaUpzI6QQvnzzDan8sY/edit?usp=drivesdk&ouid=116953157033865343860&rtpof=true&sd=true"
                                                    class="btn btn-tertiary ">
                                                    <button type="button" class="btn btn-px-5 btn-outline-light btn-lg">DOWNLOAD</button>
                                                    
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" region col-12 col-md-6 mx-auto  p-0" >
                    <div class="experience-component experience-assets-image">
                        <figure class="snippet snippet-image text-center mb-0 mx-auto">
                            <a href="#">
                                <picture>
                                    <img src="/static/img/ppt/datastructure.jpg" width="1137" height="386" class="d-block w-100" alt="...">
                                    <!-- <source
                                        srcset="https://www.penfolds.com/dw/image/v2/BDBN_PRD/on/demandware.static/-/Library-Sites-PenfoldsSharedLibrary/default/dwa667e6c1/1-Images/Landscape/840x650/840x650-Peter-Gago-Hall-of-Fame.jpg?sw=768&amp;sfrm=png"
                                        media="(max-width: 768px)">
                                    <img class="img-fluid img-main page-designer-hover pd-image-hover-zoom"
                                        src="https://www.penfolds.com/dw/image/v2/BDBN_PRD/on/demandware.static/-/Library-Sites-PenfoldsSharedLibrary/default/dwa667e6c1/1-Images/Landscape/840x650/840x650-Peter-Gago-Hall-of-Fame.png"
                                        style="--focal-point-x:50%; --focal-point-y:50%" alt="Peter Gago Hall of Fame"
                                        title="Peter Gago Hall of Fame"> -->
                                </picture>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 4th  -->
    <div class="experience-component experience-layouts-2h" >
        <div class="container twelayout-basic py-0 null layout-2h align-vertical-null " > 
            <div class="row " >
                <div class=" region col-12 col-md-6 mx-auto  p-0" style="background-color: #8EC5FC;
                background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
                border-width: 10px;
                ">
                    <div class="experience-component experience-assets-image" >
                        <figure class="snippet snippet-image text-center mb-0 mx-auto" >
                            <a
                                href="#">
                                
                                 <picture>
                                    <img src="/static/img/ppt/function.jpg" width="1137" height="386" class="d-block w-100" alt="...">
                                    <!-- <source
                                        srcset=""
                                        media="(max-width: 768px)">
                                    <img class="img-fluid img-main page-designer-hover pd-image-hover-zoom"
                                    src="/static/img/question.jpg"
                                       
                                        style="--focal-point-x:50%; --focal-point-y:50%"
                                        alt="Two 6L wine bottles against charcoal and red background"
                                        title="Two 6L wine bottles against charcoal and red background"> -->
                                </picture>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class=" region col-12 col-md-6 mx-auto  p-0">
                    <div class="egrouxperience-component experience-assets-complextile">
                        <div class="snippet snippet-complextile align-vertical-Middle align-horizontal-Left text-dark null  ">
                            <div class="banner-content  ">
                                <div class="banner-text    ">
                                    <div class="page-designer-hover text-left align-on-zoomout-Left border-line-none">
                                        <div class="col-12">
                                            <h4>.</h4>
                                            <h2 style="color: white; font-size: 50px; ">UNIT 3 (A)</h2>
                                            <p style="color: white; font-size: x-large;">This unit contain the function , in this unit you will learn how to call a function,
                                                 define a function and type of function . You will also learn about Anonymous function and about local and global Variables.
                                            <p>
                                                
                                                <div class="btn-group">
                                                    <a href='https://docs.google.com/presentation/d/1yGs70ze0pDQp0td--JD8-BTz-Zh8sT1o/edit?usp=drivesdk&ouid=116953157033865343860&rtpof=true&sd=true'>
                                                    <button type="button" class="btn btn-px-5 btn-outline-light btn-lg">DOWNLOAD</button>
                                                    
                                                  </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 5th  -->
    <div class="experience-component experience-layouts-2h">
        <div class="container twelayout-basic pt-0 null layout-2h align-vertical-null">
            <div class="row ">
                <div class=" region col-12 col-md-6 mx-auto  p-0">
                    <div class="experience-component experience-assets-complextile">
                        <div class="snippet snippet-complextile align-vertical-Middle align-horizontal-Left
                        text-dark null  ">
                        <div class="banner-content  ">
                            <div class="banner-text    ">
                                    <div class="page-designer-hover text-left align-on-zoomout-Left border-line-none">
                                        <div class="col-12">
                                            <h4></h4>
                                            <br>
                                            <h2 style="color: white; font-size: 60px;">UNIT 3(B)</h2>
                                            <p style="color: white; font-size: x-large;">In this unit part b , you will learn about the Exception handling that what is exception handling , 
                                                 how to define exception , how to use except clause , what is try and finally clause and much more.
                                            </p>
                                            <p>
                                                <a href="https://docs.google.com/presentation/d/1yGKg51LH7MjfknGXupu6z_aju1klXbdQ/edit?usp=drivesdk&ouid=116953157033865343860&rtpof=true&sd=true"
                                                    class="btn btn-tertiary ">
                                                    <button type="button" class="btn btn-px-5 btn-outline-light btn-lg">DOWNLOAD</button>
                                                    
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" region col-12 col-md-6 mx-auto  p-0" >
                    <div class="experience-component experience-assets-image">
                        <figure class="snippet snippet-image text-center mb-0 mx-auto">
                            <a href="#">
                                <picture>
                                    <img src="/static/img/ppt/Exception.png" width="1137" height="386" class="d-block w-100" alt="...">
                                    <!-- <source
                                        srcset="https://www.penfolds.com/dw/image/v2/BDBN_PRD/on/demandware.static/-/Library-Sites-PenfoldsSharedLibrary/default/dwa667e6c1/1-Images/Landscape/840x650/840x650-Peter-Gago-Hall-of-Fame.jpg?sw=768&amp;sfrm=png"
                                        media="(max-width: 768px)">
                                    <img class="img-fluid img-main page-designer-hover pd-image-hover-zoom"
                                        src="https://www.penfolds.com/dw/image/v2/BDBN_PRD/on/demandware.static/-/Library-Sites-PenfoldsSharedLibrary/default/dwa667e6c1/1-Images/Landscape/840x650/840x650-Peter-Gago-Hall-of-Fame.png"
                                        style="--focal-point-x:50%; --focal-point-y:50%" alt="Peter Gago Hall of Fame"
                                        title="Peter Gago Hall of Fame"> -->
                                </picture>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 6th  -->
    <div class="experience-component experience-layouts-2h" >
        <div class="container twelayout-basic py-0 null layout-2h align-vertical-null " > 
            <div class="row " >
                <div class=" region col-12 col-md-6 mx-auto  p-0" style="background-color: #8EC5FC;
                background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
                border-width: 10px;
                ">
                    <div class="experience-component experience-assets-image" >
                        <figure class="snippet snippet-image text-center mb-0 mx-auto" >
                            <a
                                href="https://www.penfolds.com/en-sg/about-penfolds/collaborations/blockbar-third-nft.html">
                                
                                 <picture>
                                    <img src="/static/img/ppt/filehandling.jpeg" width="1137" height="386" class="d-block w-100" alt="...">
                                    <!-- <source
                                        srcset=""
                                        media="(max-width: 768px)">
                                    <img class="img-fluid img-main page-designer-hover pd-image-hover-zoom"
                                    src="/static/img/question.jpg"
                                       
                                        style="--focal-point-x:50%; --focal-point-y:50%"
                                        alt="Two 6L wine bottles against charcoal and red background"
                                        title="Two 6L wine bottles against charcoal and red background"> -->
                                </picture>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class=" region col-12 col-md-6 mx-auto  p-0">
                    <div class="egrouxperience-component experience-assets-complextile">
                        <div class="snippet snippet-complextile align-vertical-Middle align-horizontal-Left text-dark null  ">
                            <div class="banner-content  ">
                                <div class="banner-text    ">
                                    <div class="page-designer-hover text-left align-on-zoomout-Left border-line-none">
                                        <div class="col-12">
                                            <h4>.</h4>
                                            <h2 style="color: white; font-size: 50px; ">FILE HANDLING</h2>
                                            <p style="color: white; font-size: x-large;">In this unit you will learn about file handling and its operations like how to open a file, how to append
                                                a file , how to write a file and much more.
                                            </p>
                                        
                                            <p>
                                                
                                                <div class="btn-group">
                                                    <a href='https://docs.google.com/presentation/d/1yQuu5tc4cTFQl5Y2KyzSkPpj7zyK7uEH/edit?usp=drivesdk&ouid=116953157033865343860&rtpof=true&sd=true'>
                                                    <button type="button" class="btn btn-px-5 btn-outline-light btn-lg">DOWNLOAD</button>
                                                    
                                                  </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-component experience-layouts-2h">
        <div class="container twelayout-basic pt-0 null layout-2h align-vertical-null">
            <div class="row ">
                <div class=" region col-12 col-md-6 mx-auto  p-0">
                    <div class="experience-component experience-assets-complextile">
                        <div class="snippet snippet-complextile align-vertical-Middle align-horizontal-Left
                        text-dark null  ">
                        <div class="banner-content  ">
                            <div class="banner-text    ">
                                    <div class="page-designer-hover text-left align-on-zoomout-Left border-line-none">
                                        <div class="col-12">
                                            <h4></h4>
                                            <br>
                                            <h2 style="color: white; font-size: 60px;">OOPs</h2>
                                            <p style="color: white; font-size: x-large;">OOPs stand for object oriented programing. In this unit you will learn about the 
                                                Class and Object , how to make a class and about Attributes, Abstaction, Enxapsulation and most important topin Inheritance.
                                            </p>
                                            <p>
                                                <a href="https://docs.google.com/presentation/d/1yRVvekuvhBf0D28OXNyrBkBhG2iM9201/edit?usp=drivesdk&ouid=116953157033865343860&rtpof=true&sd=true"
                                                    class="btn btn-tertiary ">
                                                    <button type="button" class="btn btn-px-5 btn-outline-light btn-lg">DOWNLOAD</button>
                                                    
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" region col-12 col-md-6 mx-auto  p-0" >
                    <div class="experience-component experience-assets-image">
                        <figure class="snippet snippet-image text-center mb-0 mx-auto">
                            <a href="#">
                                <picture>
                                    <img src="/static/img/ppt/oop.jpg" width="1137" height="386" class="d-block w-100" alt="...">
                                    <!-- <source
                                        srcset="https://www.penfolds.com/dw/image/v2/BDBN_PRD/on/demandware.static/-/Library-Sites-PenfoldsSharedLibrary/default/dwa667e6c1/1-Images/Landscape/840x650/840x650-Peter-Gago-Hall-of-Fame.jpg?sw=768&amp;sfrm=png"
                                        media="(max-width: 768px)">
                                    <img class="img-fluid img-main page-designer-hover pd-image-hover-zoom"
                                        src="https://www.penfolds.com/dw/image/v2/BDBN_PRD/on/demandware.static/-/Library-Sites-PenfoldsSharedLibrary/default/dwa667e6c1/1-Images/Landscape/840x650/840x650-Peter-Gago-Hall-of-Fame.png"
                                        style="--focal-point-x:50%; --focal-point-y:50%" alt="Peter Gago Hall of Fame"
                                        title="Peter Gago Hall of Fame"> -->
                                </picture>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>






















































































































































</div>


{% endblock body %}