{% extends 'mainheader.html' %}
{% block title %}Learn from here{% endblock title %}
{% block body %}

<div class="container md-20 my-3">
    <h1 class="my-3 text-center font-weight-bold ">MATHS UNIT</h1>
    
    <div class="row">
        <div class="col-md-5 ml-5">
          <div class="card mb-4 shadow-sm" style="border-style: solid; background-color: #8EC5FC;
          background-image: linear-gradient(to bottom, #b993d6, #8ca6db)
          
           ; border-width: 10px;" >
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img src="/static/img/unit.jpg" width="1137" height="386" class="d-block w-100" alt="...">
            <div class="card-body" style="background-image: linear-gradient(to bottom, #70e1f5, #ffd194); ">
              <p class="card-text font-weight-bold text-center d-block p-2 bg-primary text-white h3" > UNIT-1</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href='/b.tech/2/maths/learn/unit1'>
                  <button type="button" class="btn btn-outline-primary btn-lg">View</button>
                  <!-- {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %} -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-5 ">
          <div class="card mb-4 shadow-sm" style="border-style: solid; background-color: #8EC5FC;
          background-image: linear-gradient(to bottom, #b993d6, #8ca6db)
          
           ; border-width: 10px;">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img src="/static/img/unit.jpg" width="1137" height="386" class="d-block w-100" alt="...">
            <div class="card-body" style="background-image: linear-gradient(to bottom, #70e1f5, #ffd194); ">
              <p class="card-text font-weight-bold text-center d-block p-2 bg-primary text-white h3">UNIT-2</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href='/b.tech/2/maths/learn/unit2'>
                  <button type="button" class="btn btn-px-5 btn-outline-primary btn-lg">View</button>
                  <!-- {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %} -->
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 ml-5">
          <div class="card mb-4 shadow-sm" style="border-style: solid; background-color: #8EC5FC;
          background-image: linear-gradient(to bottom, #b993d6, #8ca6db)
          
           ; border-width: 10px;">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img src="/static/img/unit.jpg" width="1137" height="386" class="d-block w-100" alt="...">
            <div class="card-body" style="background-image: linear-gradient(to bottom, #70e1f5, #ffd194); ">
              <p class="card-textfont-weight-bold text-center d-block p-2 bg-primary text-white h3">UNIT-3</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href='/b.tech/2/maths/learn/unit3'>
                  <button type="button" class="btn btn-px-5 btn-outline-primary btn-lg">View</button>
                  <!-- {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %} -->
                </div>
                
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-md-5 ml-auto mr-5">
          <div class="card mb-4 shadow-sm" style="border-style: solid; background-color: #8EC5FC;
          background-image: linear-gradient(to bottom, #b993d6, #8ca6db)
          
           ; border-width: 10px;">
            <img src="/static/img/unit.jpg" width="1137" height="386" class="d-block w-100" alt="...">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <div class="card-body" style="background-image: linear-gradient(to bottom, #70e1f5, #ffd194); ">
              <p class="card-textfont-weight-bold text-center d-block p-2 bg-primary text-white h3">UNIT-4</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href='/b.tech/2/maths/learn/unit4'>
                  <button type="button" class="btn btn-px-5 btn-outline-primary btn-lg">View</button>
                  <!-- {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %} -->
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 ml-5">
          <div class="card mb-4 shadow-sm" style="border-style: solid; background-color: #8EC5FC;
          background-image: linear-gradient(to bottom, #b993d6, #8ca6db)
          
           ; border-width: 10px;">
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img src="/static/img/unit.jpg" width="1137" height="386" class="d-block w-100" alt="...">
            <div class="card-body" style="background-image: linear-gradient(to bottom, #70e1f5, #ffd194); ">
              <p class="card-textfont-weight-bold text-center d-block p-2 bg-primary text-white h3">UNIT-5</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href='/b.tech/2/maths/learn/unit5'>
                  <button type="button" class="btn btn-px-5 btn-outline-primary btn-lg">View</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                
              </div>
            </div>
          </div>
        </div>


{% endblock body %}
