{% extends 'mainheader.html' %}
{% block title %}Unit-5{% endblock title %}
{% block body %}

<!-- 
<div class="container md-20 my-3">
    <h2 class="my-3 text-center font-weight-bold">BOOKS</h2>
    
    <div class="row">
        <div class="col-md-5 ml-5">
          <div class="card mb-4 shadow-sm" >
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <iframe width="445" height="315" src="https://www.youtube.com/embed/yBKkSm2v3gg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="445" height="315" src="https://www.youtube.com/embed/zFvoXxeoosI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <div class="card-body">
                <p class="card-text font-weight-bold text-center d-block p-2 bg-primary text-white h3">LOOPING</p>
                <div class="d-flex justify-content-between align-items-center"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-5 ">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <img src="/static/img/maths2.jpg" width="1137" height="386" class="d-block w-100" alt="...">
              
              <div class="card-body">
                <p class="card-text font-weight-bold text-center d-block p-2 bg-primary text-white h3">Control Statement</p>
              </div>
            </div>
          </div>
        </div>
    </div> -->


<div class="container md-20 my-3 shadow p-1 mb-1 bg-whiterounded">
    <h2 class="my-3 text-center font-weight-bold">UNIT - 5</h2>

    <div class="row">
        <div class="col-md-5 ml-5">
            <div class="card mb-4 shadow-sm" style="border-style: solid; background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
             ; border-width: 10px; width: 465px;">
                <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <!-- <img src="/static/img/python.jpg" width="1137" height="386" class="d-block w-100" alt="..."> -->
                <iframe width="445" height="315" src="https://www.youtube.com/embed/jZ5agHjNR3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <p class="card-text font-weight-bold text-center d-block p-2 bg-primary text-white h3">MODULES AND PACKAGES</p>
                    <div class="d-flex justify-content-between align-items-center">
                        

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 ml-auto mr-5 ">
            <div class="card mb-4 shadow-sm" style="border-style: solid; background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
             ; border-width: 10px; width: 465px;">
                <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <!-- <img src="/static/img/maths2.jpg" width="1137" height="386" class="d-block w-100" alt="..."> -->
                <iframe width="445" height="315" src="https://www.youtube.com/embed/Rbh1rieb3zc" title="YouTube video player"frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>
                <div class="card-body">
                    <p class="card-text font-weight-bold text-center d-block p-2 bg-primary text-white h3">INTRODUCTION TO NUMPY, PANDAS AND MATPLOTLIB</p>
                    <div class="d-flex justify-content-between align-items-center">
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 ml-5">
            <div class="card mb-4 shadow-sm" style="border-style: solid; background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
             ; border-width: 10px; width: 465px;">
                <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <!-- <img src="/static/img/eee.jpg" width="1137" height="386" class="d-block w-100" alt="..."> -->
                <iframe width="445" height="315" src="https://www.youtube.com/embed/7QjXlrOwyBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <p class="card-textfont-weight-bold text-center d-block p-2 bg-primary text-white h3">LINEAR SEARCH,BINARY SEARCH AND BUBBLE SORT</p>
                    <div class="d-flex justify-content-between align-items-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}